data/ferret.idx/*
vectors.bin*
text8.gz
data/*.csv
data/*.tsv

LICENSE
README.txt

data/
demo-analogy.sh
demo-classes.sh
demo-phrase-accuracy.sh
demo-phrases.sh
demo-train-big-model-v1.sh
demo-word-accuracy.sh
demo-word.sh

qa.c
questions-phrases.txt
questions-words.txt
training_set.tsv